.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.mainContent {
  display: flex;
  flex: 1;
}

.content {
  margin: 24px 16px;
  padding: 24px;
  background: #fff;
  min-height: 280px;
  border-radius: 4px;
  flex: 1;
  overflow: auto;
} 