.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.content {
  flex: 1;
  min-height: 0;
  position: relative;
  background: var(--bg-main);
}

.scrollArea {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 24px 24px 0;
  overflow-y: auto;
}

